/file_approachBall.csp
/file_approachBall_defs.csp
/file_carryBall.csp
/file_carryBall_defs.csp
/file_goToBehindBall.csp
/file_goToBehindBall_defs.csp
/file_moveAwayFromPosition.csp
/file_moveAwayFromPosition_defs.csp
/ApproachBallSTM.csp
/ApproachBallSTM_coreassertions.csp
/GoToBehindBallSTM.csp
/GoToBehindBallSTM_coreassertions.csp
/carryBallOnBallPlacement_CarryBallOnBallPlacementSTM.csp
/carryBallOnBallPlacement_CarryBallOnBallPlacementSTM_coreassertions.csp
/file_tactic.csp
/file_tactic_defs.csp
/MoveAwayFromPositionSTM.csp
/MoveAwayFromPositionSTM_coreassertions.csp
/carryBallOnBallPlacement_BehaviorController.csp
/carryBallOnBallPlacement_BehaviorController_coreassertions.csp
