/file_approachBall_coreassertions.csp
/file_carryBall.csp
/file_carryBall_coreassertions.csp
/file_goToBehindBall.csp
/file_goToBehindBall_coreassertions.csp
/file_moveAwayFromPosition.csp
/file_moveAwayFromPosition_coreassertions.csp
