/file_main.csp
/file_main_coreassertions.csp
/instantiations.csp
/file_visionSTM.csp
/file_visionSTM_coreassertions.csp
/file_SVision.csp
/file_SVision_coreassertions.csp
/file_carryBall.csp
/file_carryBallOnBallPlacement.csp
/file_carryBallOnBallPlacement_coreassertions.csp
/file_carryBall_coreassertions.csp
/file_goToBehindBall.csp
/file_goToBehindBall_coreassertions.csp
/file_worldMessageHandlerController.csp
/file_worldMessageHandlerController_coreassertions.csp
/file_worldMessageHandlerSTM.csp
/file_worldMessageHandlerSTM_coreassertions.csp
/file_var.csp
/file_var_coreassertions.csp
/file_visionServiceController.csp
/file_visionServiceController_coreassertions.csp
/file_refereeServiceController.csp
/file_refereeServiceController_coreassertions.csp
